<!DOCTYPE html>
<html>
  <head>
    <title>glupi title</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
      .segment{
        float: right;
        border-radius: 25px;
        border: solid 2px;
        border-color:  black;
        margin: 30px;
        padding: 10px;
        background-color: lightgoldenrodyellow;
        width: 300px;
      }
    </style>
  </head>
  <body>
  <div class="segment" style="display: inline; float: left;">
    <H3>Datum:  <%= data[0].time %> </H3>
    <H3>Vrijeme:  <%= data[0].time %> </H3>
    <H3>Trajanje:  <%= data[0].time %> </H3>
    <hr>
    <H3>Opis:  <%= data[0].time %> </H3>



  </div>
  <div  style="display: inline;" class="segment raised">
      <form action="/" method="post">
       <div class="form-group">
         <label>Datum:</label>
         <input type="date" name="date">
       </div>
        <div class="form-group">
        Vrijeme: <input type="time" name="time">
        </div>
          <div class="form-group">
        Trajanje:  <input type="number" name="duration">
          </div>
            <div class="form-group">
        Opis:  <input type="text" name="desc">
            </div>
       <input style="float: right;" class="btn btn-dark" type="submit" value="Create">
      </form>
  </div>


  </body>
</html>
